<!DOCTYPE html>
<html>
    <head>
        <title>
            Vue Demo
        </title>
        <script src="vue.js"></script>
    </head>
    <style>
        .class1{
            background: #888811;
            color: aqua;
        }
    </style>
    <body>
        <div id="firstVue" >
            <input type="number" v-model="my_step"/>
            <a v-bind:href="url">click here</a>
            <button v-on:click="clickButton">click Button</button>
            <p>{{my_data}}</p>
            <p>{{my_total}}</p>
            
            <input type="checkbox" v-model="choose"/>
            <div v-bind:class="{'class1':choose}">class</div>
            <p>{{czj}}</p>
            <button v-on:click="reverseMessage">反转字符</button>
            <p>{{czj|test}}</p>
            <button v-on:click="reverseMessage2">反转字符计算</button>
            <p>{{reverseMessage1}}</p>
            <p>{{czj1|test}}</p>
        </div>
    </body>
    <script type="text/javascript">
    var myVue=new Vue({
        el:"#firstVue",
        data:{
            my_step:1,
            my_total:0,
            my_data:"game",
            url:"https://www.baidu.com",
            choose:false,
            czj:'czj',
            czj1:'czj1'
        },
        computed:{
            // 计算属性的 getter
            reverseMessage1:function(){
                // `this` 指向 vm 实例
                return this.czj.split('').reverse().join('')
            }
        },
        methods:{
            clickButton:function() {
                this.my_total=this.my_total+this.my_step
            },
            reverseMessage:function(){
                this.czj=this.czj.split('').reverse().join('')
            },
            reverseMessage2:function(){
                this.czj1=this.czj1.split('').reverse().join('')
            }
        },
        filters:{
            test:function (value) 
            {
                if (!value) {
                    return ''
                }
                value=value.toString();
                return value=value.charAt(0).toUpperCase()+value.slice(1)
            }
        }
    })

    </script>
</html>